@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #334155;
  --accent: #0D9488;
}

.dark {
  --background: #0F172A;
  --foreground: #F1F5F9;
  --accent: #2DD4BF;   
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);

  --font-accent: var(--font-playfair);
  --font-base: var(--font-source-sans-3);
}

@layer base {
  * {
    @apply border-foreground/10
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-source-sans-3);
    @apply antialiased transition-colors duration-300;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-playfair);
    color: var(--foreground);
  }

  ::selection {
    background-color: var(--accent);
    color: var(--background);
  }
}
