@import "tailwindcss";

:root {
  /* Day Mode */
  --background: #F8FAFC; /* Light Ghost Grey */
  --foreground: #334155; /* Slate Text */
  --accent: #0D9488; /* Tale */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);

  --font-accent: var(--font-playfair);
  --font-base: var(--font-source-sans-3);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Night Mode */
    --background: #0F172A; /* Deep Navy */
    --foreground: #F1F5F9; /* Off White */
    --accent: #2DD4BF;     /* Bright Teal */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

